.app {
  font-family: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.levelSelector {
  background-color: burlywood;
}

.questionContainer {
  background-color: cornflowerblue;
  width: 1000px;
}

.questionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questionCard {
  background-color: floralwhite;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.questionButtons {
  display: flex;
  flex-direction: row;
}

.questionButton {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}

button:disabled {
  background-color: darkgray;
  color: darkolivegreen;
}

select {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
}