.app {
  font-family: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.levelSelector {
  background-color: burlywood;
}

.questionContainer {
  background-color: cornflowerblue;
  width: 1000px;
}